.content {
  overflow-y: scroll;
  padding: 0 $root-padding;
  display: grid;
  grid-template-rows: $height-chanel 1fr $height-chanel;
  // grid-template-rows:
  // $height-chanel minmax(calc(100% - 2 * #{$height-chanel}), 1fr)
  // $height-chanel;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .content-categories {
    display: flex;
    height: $height-chanel;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .category {
      flex: 0 0 auto;
      white-space: nowrap;
      cursor: pointer;
      margin-right: 15px;
      border: 2px solid $c-black;
      padding: 15px;
      border-radius: 25px;
      padding: 7px 12px;
      background-color: $c-yelloy;
      &:first-child {
        background-color: $c-black;
        color: $c-yelloy;
      }
    }
  }
  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 15px;
    .item {
      border: 1px solid $c-grey;
      //background-color: red;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.previw {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100%;
  height: 80%;
  height: calc(1fr * 9 / 16);
  &:hover {
    .shadow {
      display: flex;
    }
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $c-black, $alpha: 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    img {
      height: 30%;
      cursor: pointer;
    }
  }
  .live {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    background-color: red;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  .time {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background-color: rgba($color: $c-black, $alpha: 0.6);
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
  }
}
.description-video {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  align-items: center;
  img {
    cursor: pointer;
    width: 30px;
    margin: 0 15px;
  }
  .title-video {
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    &:hover {
      color: $c-blue;
    }
  }
  .chanel-video {
    cursor: pointer;
    opacity: 0.7;
    margin-bottom: 5px;
    &:hover {
      color: $c-blue;
    }
  }
  span {
    cursor: pointer;
  }
}
.footer {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previw1 {
  background-image: url("../pictures/previews/preview1.jpg");
}
.previw2 {
  background-image: url("../pictures/previews/vanda.jpeg");
}
.previw3 {
  background-image: url("../pictures/previews/preview3.jpg");
}
.previw4 {
  background-image: url("../pictures/previews/thor.jpg");
}
.previw5 {
  background-image: url("../pictures/previews/preview5.jpg");
}
.previw6 {
  background-image: url("../pictures/previews/flash.jpg");
}
