.header {
  background-color: $c-black;
  height: $header-height;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 $root-padding;
  .header-logo {
    display: flex;
    align-items: center;
    img {
      height: 60px;
      margin-right: 15px;
      cursor: pointer;
    }
    h1 {
      font-size: 40px;
      cursor: pointer;
      font-family: $font-marvel;
      color: white;
      margin-right: 10px;
    }
  }
  .header-search {
    height: 46px;
    display: grid;
    grid-template-columns: 1fr 46px 46px;
    align-items: center;
    border-radius: 5px;

    input {
      height: 100%;
      border: 1px solid $c-yelloy;
      color: $c-yelloy;
      font-size: 20px;
      border-radius: 5px 0 0 5px;
      width: 100%;
      padding: 0 10px;
      background-color: $c-black;
      &:focus {
        border: 1px solid white;
      }
      &::placeholder {
        opacity: 0.4;
        color: $c-yelloy;
      }
    }
    .search-button {
      height: 100%;
      border-radius: 0 5px 5px 0;
      border: 1px solid $c-yelloy;
      border-left: none;
      background-color: $c-yelloy;
      padding: 4px;
      font-size: 36px;
      cursor: pointer;
    }
    .search-record {
      text-align: center;
      cursor: pointer;
      color: $c-yelloy;
      font-size: 36px;
    }
  }
  .header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .notifications {
      margin-left: 5px;
      cursor: pointer;
      color: $c-yelloy;
      font-size: 36px;
    }
    .header-main-button {
      margin-left: 13px;
      cursor: pointer;
      background-color: $c-yelloy;
      border-radius: 40px;
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 20px;
      }
      &:hover {
        .menu {
          display: block !important;
        }
      }
    }
  }
}
.menu {
  z-index: 10;
  display: none;
  top: calc(#{$header-height} - 15px);
  right: 10px;
  position: absolute;
  width: 190px;
  background-color: $c-yelloy;
  border-radius: 5px;

  .menu-item {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    img {
      width: 25px;
      margin: 0 10px;
    }
    span {
      margin: 0 10px;
      font-size: 25px;
    }
    p {
      font-size: 20px;
    }
    &:hover {
      background-color: #af9c03;
    }
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
  .menu-item-exit {
    border-top: 1px solid $c-black;
    span,
    p {
      color: red;
    }
  }
}

@media all and (max-width: 760px) {
  h1 {
    display: none;
  }
}
