$join-height: 200px;

.lefter {
  background-color: $c-yelloy;

  .chanels {
    height: calc(100% - #{$join-height});
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    .chanel {
      cursor: pointer;
      height: $height-chanel;
      display: grid;
      grid-template-columns: calc(#{$width-avatar} + 2 * #{$root-padding}) 1fr calc(
          #{$width-avatar} + 2 * #{$root-padding}
        );
      align-items: center;
      img {
        width: 30px;
        margin: 0 $root-padding;
      }
      p {
        text-overflow: ellipsis;
        &:hover {
          color: $c-yelloy !important;
        }
      }
      span {
        text-align: end;
        margin-right: $root-padding;
      }
      .rec-now:before {
        position: absolute;
        margin-left: -12px;
        margin-top: 3px;
        content: "";
        border-radius: 8px;
        width: 8px;
        height: 8px;
        background-color: red;
        animation: pulse 2s infinite;
      }
      &:hover {
        background-color: $c-black;
        p,
        span {
          color: white;
        }
      }
    }
  }
  .join {
    height: $join-height;
    border-top: 1px solid $c-black;
    padding: $root-padding;
    .join-grey {
      border-radius: 5px;
      background-color: $c-black;
      height: 100%;
      p {
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 25px;
      }
      .contacts {
        display: flex;
        justify-content: center;
        i {
          color: white;
          font-size: 25px;
          cursor: pointer;
          margin: 15px;
          &:hover {
            color: $c-yelloy;
          }
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(red, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(red, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(red, 0);
  }
}
@media all and (max-width: 1200px) {
  .chanel {
    & > p,
    span {
      display: none;
    }
  }
  .join {
    background-color: $c-black;
    .join-grey {
      p {
        display: none;
      }
      .contacts {
        flex-direction: column;
        align-items: center;
        i {
          margin: 15px 0 !important;
        }
      }
    }
  }
}
