*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  outline: none;
}
*::selection {
  opacity: 1;
  color: $c-black;
  background: $c-yelloy;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-roboto;
  line-height: 1;
}
