$left-panel-width: 300px;
.wrapper {
  background-color: white;
  height: 100%;
  padding-top: $header-height;
  display: grid;
  grid-template-columns: $left-panel-width calc(100% - #{$left-panel-width});
  grid-auto-rows: minmax(100%, 100%);
}
@media all and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: calc(#{$width-avatar} + 2 * #{$root-padding}) calc(
        100% - (#{$width-avatar} + 2 * #{$root-padding})
      );
  }
}
