$header-height: 70px;
$font-marvel: "marvel";
$font-roboto: "Roboto", sans-serif;

$c-light: #ffeac9;
$c-yelloy: #fee202;
$c-grey: #c7c7c7;
$c-black: #000000;
$c-blue: #782e64;

$root-padding: 15px;
$width-avatar: 30px;
$height-chanel: 50px;

@font-face {
  font-family: "marvel";
  src: url("/fonts/AmericanCaptain-MdEY.otf");
}

@import "../styles/_reset";
@import "../styles/_wrapper";
@import "../styles/_header";
@import "../styles/lefter";
@import "../styles/content";
