@font-face {
  font-family: "marvel";
  src: url("/fonts/AmericanCaptain-MdEY.otf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  outline: none;
}

*::selection {
  opacity: 1;
  color: #000000;
  background: #fee202;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

.wrapper {
  background-color: white;
  height: 100%;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  grid-auto-rows: minmax(100%, 100%);
}

@media all and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: calc(30px + 2 * 15px) calc( 100% - (30px + 2 * 15px));
  }
}

.header {
  background-color: #000000;
  height: 70px;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 15px;
}

.header .header-logo {
  display: flex;
  align-items: center;
}

.header .header-logo img {
  height: 60px;
  margin-right: 15px;
  cursor: pointer;
}

.header .header-logo h1 {
  font-size: 40px;
  cursor: pointer;
  font-family: "marvel";
  color: white;
  margin-right: 10px;
}

.header .header-search {
  height: 46px;
  display: grid;
  grid-template-columns: 1fr 46px 46px;
  align-items: center;
  border-radius: 5px;
}

.header .header-search input {
  height: 100%;
  border: 1px solid #fee202;
  color: #fee202;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
  width: 100%;
  padding: 0 10px;
  background-color: #000000;
}

.header .header-search input:focus {
  border: 1px solid white;
}

.header .header-search input::placeholder {
  opacity: 0.4;
  color: #fee202;
}

.header .header-search .search-button {
  height: 100%;
  border-radius: 0 5px 5px 0;
  border: 1px solid #fee202;
  border-left: none;
  background-color: #fee202;
  padding: 4px;
  font-size: 36px;
  cursor: pointer;
}

.header .header-search .search-record {
  text-align: center;
  cursor: pointer;
  color: #fee202;
  font-size: 36px;
}

.header .header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-buttons .notifications {
  margin-left: 5px;
  cursor: pointer;
  color: #fee202;
  font-size: 36px;
}

.header .header-buttons .header-main-button {
  margin-left: 13px;
  cursor: pointer;
  background-color: #fee202;
  border-radius: 40px;
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-buttons .header-main-button img {
  height: 20px;
}

.header .header-buttons .header-main-button:hover .menu {
  display: block !important;
}

.menu {
  z-index: 10;
  display: none;
  top: calc(70px - 15px);
  right: 10px;
  position: absolute;
  width: 190px;
  background-color: #fee202;
  border-radius: 5px;
}

.menu .menu-item {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.menu .menu-item img {
  width: 25px;
  margin: 0 10px;
}

.menu .menu-item span {
  margin: 0 10px;
  font-size: 25px;
}

.menu .menu-item p {
  font-size: 20px;
}

.menu .menu-item:hover {
  background-color: #af9c03;
}

.menu .menu-item:first-child {
  border-radius: 5px 5px 0 0;
}

.menu .menu-item:last-child {
  border-radius: 0 0 5px 5px;
}

.menu .menu-item-exit {
  border-top: 1px solid #000000;
}

.menu .menu-item-exit span,
.menu .menu-item-exit p {
  color: red;
}

@media all and (max-width: 760px) {
  h1 {
    display: none;
  }
}

.lefter {
  background-color: #fee202;
}

.lefter .chanels {
  height: calc(100% - 200px);
  overflow-y: scroll;
  position: relative;
}

.lefter .chanels::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.lefter .chanels .chanel {
  cursor: pointer;
  height: 50px;
  display: grid;
  grid-template-columns: calc(30px + 2 * 15px) 1fr calc( 30px + 2 * 15px);
  align-items: center;
}

.lefter .chanels .chanel img {
  width: 30px;
  margin: 0 15px;
}

.lefter .chanels .chanel p {
  text-overflow: ellipsis;
}

.lefter .chanels .chanel p:hover {
  color: #fee202 !important;
}

.lefter .chanels .chanel span {
  text-align: end;
  margin-right: 15px;
}

.lefter .chanels .chanel .rec-now:before {
  position: absolute;
  margin-left: -12px;
  margin-top: 3px;
  content: "";
  border-radius: 8px;
  width: 8px;
  height: 8px;
  background-color: red;
  animation: pulse 2s infinite;
}

.lefter .chanels .chanel:hover {
  background-color: #000000;
}

.lefter .chanels .chanel:hover p,
.lefter .chanels .chanel:hover span {
  color: white;
}

.lefter .join {
  height: 200px;
  border-top: 1px solid #000000;
  padding: 15px;
}

.lefter .join .join-grey {
  border-radius: 5px;
  background-color: #000000;
  height: 100%;
}

.lefter .join .join-grey p {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.lefter .join .join-grey .contacts {
  display: flex;
  justify-content: center;
}

.lefter .join .join-grey .contacts i {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin: 15px;
}

.lefter .join .join-grey .contacts i:hover {
  color: #fee202;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@media all and (max-width: 1200px) {
  .chanel > p,
  .chanel span {
    display: none;
  }
  .join {
    background-color: #000000;
  }
  .join .join-grey p {
    display: none;
  }
  .join .join-grey .contacts {
    flex-direction: column;
    align-items: center;
  }
  .join .join-grey .contacts i {
    margin: 15px 0 !important;
  }
}

.content {
  overflow-y: scroll;
  padding: 0 15px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

.content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.content .content-categories {
  display: flex;
  height: 50px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.content .content-categories .category {
  flex: 0 0 auto;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 15px;
  border: 2px solid #000000;
  padding: 15px;
  border-radius: 25px;
  padding: 7px 12px;
  background-color: #fee202;
}

.content .content-categories .category:first-child {
  background-color: #000000;
  color: #fee202;
}

.content .videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 15px;
}

.content .videos .item {
  border: 1px solid #c7c7c7;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.previw {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 100%;
  height: 80%;
  height: calc(1fr * 9 / 16);
}

.previw:hover .shadow {
  display: flex;
}

.previw .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  animation: fadein 2s;
}

.previw .shadow img {
  height: 30%;
  cursor: pointer;
}

.previw .live {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  background-color: red;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
}

.previw .time {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 14px;
}

.description-video {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  align-items: center;
}

.description-video img {
  cursor: pointer;
  width: 30px;
  margin: 0 15px;
}

.description-video .title-video {
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
}

.description-video .title-video:hover {
  color: #782e64;
}

.description-video .chanel-video {
  cursor: pointer;
  opacity: 0.7;
  margin-bottom: 5px;
}

.description-video .chanel-video:hover {
  color: #782e64;
}

.description-video span {
  cursor: pointer;
}

.footer {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previw1 {
  background-image: url("../pictures/previews/preview1.jpg");
}

.previw2 {
  background-image: url("../pictures/previews/vanda.jpeg");
}

.previw3 {
  background-image: url("../pictures/previews/preview3.jpg");
}

.previw4 {
  background-image: url("../pictures/previews/thor.jpg");
}

.previw5 {
  background-image: url("../pictures/previews/preview5.jpg");
}

.previw6 {
  background-image: url("../pictures/previews/flash.jpg");
}
/*# sourceMappingURL=main.css.map */